h1 {
    text-align: center;
    font-family: ‘Oswald’, Verdana, Arial, sans-serif;
}

.left {
    width: 45%;
    font-family: ‘Oswald’, Verdana, Arial, sans-serif;
    margin-right: 3%;
}

.right {

    width: 45%;
    font-family: ‘Oswald’, Verdana, Arial, sans-serif;
}

.left {
    float: left;
}

.right {
    float: left;
}

#midle {
    width: 100%;
    margin-top: 60%;
}


h3 {
    font-weight: 500;
}

 
ol, ul{font-weight: 300;}

.left {
    
    border: 1px; 
    border-style: solid;
    border-color: red;
    border-radius: 15px;
    padding: 10px;
    list-style-position:inside;
   
}

.right {
    
    border: 1px; 
    border-style: dashed;
    border-color: red;
    border-radius: 15px;
    padding: 10px;    
}
ul {list-style-type: upper-roman;
    list-style-position:inside ;}

a {font-family: ‘Oswald’, Verdana, Arial, sans-serif;
    text-decoration:none;
   }

a:hover{
    text-decoration:underline;  
}
.lastdiv{ float: right;
    margin-bottom: 20px;
    }

